.CardContainer {
    height: 100vh;
    display: flex;
  }
  
  .card{
    position: relative;
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 420px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(214, 147, 168, 0.9) 0%,
      rgba(197, 149, 156, 0.9) 59%,
      rgba(233, 189, 199, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;

  }
  
  .card label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .card input {
    width: 100%;
    margin: 10px;
    border: none;
    border-bottom: solid rgba(182, 111, 127, 0.9);
    outline: none;
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }

  .card .closeBtn{
    position: absolute;
    top:15px;
    right: 15px;
    color: white;
  }
  
  .card .errorMsg{
    color: red;
  }
  
  .signInbtn{
    background-color: transparent;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border-color:  rgba(182, 111, 127, 0.9);;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    margin: 10px;
  }

  .loginbtn{
    background-color: transparent;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color:  rgba(182, 111, 127, 0.9);;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    margin: 10px;
  }
  

