.footer {
    font-size: 2vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 3vh; */
  }
  
  .icon {
    font-size: 4vh;
    color: white;
    margin-left:20px;
  }
  