 /* .header{
    height: 50px;
    padding-right: 10px;
} */

/* .header {
    height: 50px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  */
.MuiPaper-root{

}

.tabs{
    background-color: rgb(238, 167, 167);
}

.App .MuiTab-textColorPrimary {
    color: white;
    font-size: 18px;
    /* height: 80px; */
}
