.homepage{
    height: calc(100vh - 48px);
    position: relative;
}

.imageContainer{
    width: 100%;
    min-height: 100%;
    background-image: url('../Assets/Travel-map-camera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%) blur(1px);

}