.homepage{
    height: calc(100vh - 48px);
}

.imageContainer{
    width: 100%;
    min-height: 100%;
    background-image: url('../Assets/Travel-map-camera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%) blur(1px);
    position: relative;
}
 
.homepage h1{
    font-size: 70px;
    color: var(--primeryColor);
    position: absolute;
    top: 20rem;
    left:35rem; 
}

.titleBlock .createPostBtn{
    position: absolute;
    top: 40rem;
    left:55rem; 
    background: transparent;
    color:var(--primeryColor);
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    background-color: transparent;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid var(--primeryColor);
    cursor: pointer;
    outline: none;
    font-size: 25px;
    margin: 10px;
    transition: 0.5s;
}

.titleBlock .createPostBtn:hover{
    background-color: var(--primeryColor);
    color:white;
}

.cardsContainer{
    height: 100vh;
    margin-bottom: 100px;
}

.cardsContainer h2{
    font-size:3rem;
}

.articleCards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/* section 3 */
.videoSection{
    height: 100vh;
    justify-content: center;
}

/* section 4 */
.foodContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


