.signUpContainer {
    height: 100vh;
    display: flex;
  }
  
  .signUp{
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 420px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(243, 172, 195, 0.9) 0%,
      rgba(197, 149, 156, 0.9) 59%,
      rgba(168, 106, 119, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;

  }
  
  .signUp label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .signUp input {
    width: 100%;
    margin: 10px;
    border: none;
    border-bottom: solid rgba(182, 111, 127, 0.9);
    ;
    outline: none;
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .signUp .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .signUp .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .signUp .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .signUp .btnContainer p span:hover {
    color: red;
  }
  
  .signUp .errorMsg {
    color: red;
    font-size: 16px;
  }
  
  .signInbtn{
    background-color: transparent;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border-color:  rgba(182, 111, 127, 0.9);;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    margin: 10px;
  }
  
  .btnContainer p{
    font-size: 25px;
  }
