.userProfile{
    font-family: 'Pacifico', cursive;
    scroll-behavior: smooth;

}

.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverImg img{
    width: 90vw;
    height: 60vh;
    background-size: contain;
}

.images{
    position: relative;
}

.profileDiv img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 40%;
    z-index: 10;
}

.userProfile h1{
    font-size:70px;
    margin: 0;
    color: var(--primeryColor);
}

.inputFile{
    position: absolute;
    right: 0;
    top: 102%;
    right: 37%;
    width: 150px;
    background: transparent;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.uploadBtn{
    position: absolute;
    top:101%;
    right: 37%;
    background: transparent;
    color: var(--primeryColor);;
    border: none;

}

.profileLabel{
    margin-left: 300px;
}
.coverBtn i {
    margin-right: 10px;
}

.profileImg{
    position: relative;
}

.profileImg .inputFile{
    position: absolute;
    color: black;
    z-index: 20;
    bottom: -100px;
    top:700px;
    right: 40%;
    padding-top: 10px;
    cursor: pointer;
}




/* Section 2 */
.carouselContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}

/* .videoSection{
    height: 100vh;
}

.videoContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videoContainer > div{
    border: solid black;
    height: 500px;
    width: 500px;
}

.videoContainer .MuiButton-root{
    width: 150px;
    height: 100px;
    margin-top: 200px;
    border: none;
    outline: none;
}

.videoContainer .MuiButton-root:hover{
    outline: none;
    border: none;
}

.videoSection h2{
    font-size: 70px;
    margin:0;
    margin-bottom: 50px;
} */
